/* Starting Global Rules */
:root {
  --main-color: #042258;
  --secondary-color: #ffff;
  --third-color: #ff8800;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}
/* Ending Global Rules */

/* Starting Heading Styles */
header {
  width: 100%;
  height: 15vh;
  padding: 1em;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--third-color)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  display: flex;
}
.header-nav li {
  list-style-type: none;
  margin-right: 2em;
}
.header-nav li a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: medium;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
  /* This function is from the internet because noway I'm doing it at this level of my journey hahaha */
}
.header-nav li:hover a {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 1em;
  background-color: #01258a3d;
  transition: border-radius 0.3s linear;
  text-shadow: none;
}
/* Ending Heading Styles */

/* Starting the About Me Section styles */
.about-me {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-content: center;
  background: url(../media/sec1.jpg) no-repeat center/cover;
  border-bottom: 10px solid var(--third-color);
  border-right: 10px solid var(--third-color);
}
.about-me .about-me-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  line-height: 1.8;
}
.about-me .about-me-text .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.about-me .about-me-text .info h3 {
  margin-bottom: 2em;
}
.about-me .about-me-text .info p {
  margin-bottom: 1.2em;
}
.inside-heading {
  display: inline-block;
  width: 15%;
  font-weight: 700;
}
/* I saw this flipping idea in a card product and I decided to apply over my pictures */
.about-me figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-me .personal {
  width: 62%;
  height: 42vh;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right top;
}
.about-me .personal:hover {
  transform: translateX(-100%) rotateY(-180deg);
}
.about-me .personal .pic {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 50%;
  backface-visibility: hidden;
}
.about-me .personal .pic2 {
  transform: rotateY(180deg);
}
.about-me figure figcaption {
  margin-top: 2em;
  color: #fff;
}
/* Ending the About Me Section styles */

/* Starting the My Skills Section styles */
.main-area .my-skills {
  width: 100%;
  height: 100vh;
  display: grid;
  grid: auto 1fr 1fr / 1fr 1fr 1fr;
  background: url(../media/sec2.jpg) no-repeat center/cover;
  border-bottom: 10px solid var(--third-color);
  border-left: 10px solid var(--third-color);
  color: #fff;
}
.main-area .my-skills h2 {
  grid-area: 1 / 1 / 2 / 4;
  padding: 1em;
  margin-bottom: 2em;
  text-align: center;
}
.main-area .my-skills div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}
.main-area .my-skills .html-skill,
.main-area .my-skills .css-skill,
.main-area .my-skills .js-skill {
  border-top: none;
}
.main-area .my-skills .photoshop-skill,
.main-area .my-skills .premiere-skill,
.main-area .my-skills .en-skill {
  border-bottom: none;
  margin-bottom: 1em;
}
.main-area .my-skills .html-skill,
.main-area .my-skills .photoshop-skill {
  border-left: none;
}
.main-area .my-skills .js-skill,
.main-area .my-skills .en-skill {
  border-right: none;
}
.main-area .my-skills div i {
  color: var(--third-color);
  text-align: center;
  width: 90px;
  height: 90px;
}
.main-area .my-skills div h5 {
  font-size: larger;
  margin-bottom: 1em;
}
.main-area .my-skills div p {
  font-size: large;
}
.main-area .my-skills .html-skill {
  position: relative;
}
.main-area .my-skills .html-skill::before {
  content: "";
  width: 100px;
  height: 8px;
  background-image: linear-gradient(
    to right,
    var(--third-color) 0% 80%,
    #fff 80% 100%
  );
  position: absolute;
  bottom: 15px;
}
.main-area .my-skills .html-skill::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 215px;
}
.main-area .my-skills .css-skill {
  position: relative;
}
.main-area .my-skills .css-skill::before {
  content: "";
  width: 100px;
  height: 8px;
  background-image: linear-gradient(
    to right,
    var(--third-color) 0% 70%,
    #fff 70% 100%
  );
  position: absolute;
  bottom: 15px;
}
.main-area .my-skills .css-skill::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 225px;
}
.main-area .my-skills .js-skill {
  position: relative;
}
.main-area .my-skills .js-skill::before {
  content: "";
  width: 100px;
  height: 8px;
  background-image: linear-gradient(
    to right,
    var(--third-color) 0% 40%,
    #fff 40% 100%
  );
  position: absolute;
  bottom: 15px;
}
.main-area .my-skills .js-skill::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 255px;
}
.main-area .my-skills .photoshop-skill {
  position: relative;
}
.main-area .my-skills .photoshop-skill::before {
  content: "";
  width: 100px;
  height: 8px;
  background-image: linear-gradient(
    to right,
    var(--third-color) 0% 65%,
    #fff 65% 100%
  );
  position: absolute;
  bottom: 15px;
}
.main-area .my-skills .photoshop-skill::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 230px;
}
.main-area .my-skills .premiere-skill {
  position: relative;
}
.main-area .my-skills .premiere-skill::before {
  content: "";
  width: 100px;
  height: 8px;
  background-image: linear-gradient(
    to right,
    var(--third-color) 0% 55%,
    #fff 55% 100%
  );
  position: absolute;
  bottom: 15px;
}
.main-area .my-skills .premiere-skill::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 240px;
}
.main-area .my-skills .en-skill {
  position: relative;
}
.main-area .my-skills .en-skill::before {
  content: "";
  width: 100px;
  height: 8px;
  background-image: linear-gradient(
    to right,
    var(--third-color) 0% 75%,
    #fff 75% 100%
  );
  position: absolute;
  bottom: 15px;
}
.main-area .my-skills .en-skill::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 220px;
}
/* Ending the My Skills Section styles */

/* Starting the My Contacts Section styles */
.contact-me {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr 1fr;
  place-content: center;
  background: url(../media/sec3.jpg) no-repeat center/cover;
  border-bottom: 10px solid var(--third-color);
  border-right: 10px solid var(--third-color);
  color: #fff;
  padding: 15px;
  text-align: center;
}
.contact-me h2 {
  line-height: 150px;
}
.contact-me div div {
  /* visibility: hidden; */
  width: calc(100% + 50px);
  height: 12vh;
  color: #000;
  background-color: rgba(255, 255, 255, 0.548);
  border-radius: 50px;
  font-size: small;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.contact-me div div::after {
  /* visibility: hidden; */
  content: "";
  position: absolute;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.548) transparent;
  top: -40px;
  right: 460px;
}
/* .contact-me div i:hover + div,
.contact-me div i:hover + div::after {
  visibility: visible;
} */
.contact-me div p span {
  font-weight: 700;
}
.contact-me div i {
  color: var(--third-color);
  margin-bottom: 30px;
}
.contact-me div p + p a {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 700;
  color: #000;
}
.contact-me div p + p a:hover {
  text-decoration: underline;
  color: var(--third-color);
  transition: all 0.3s linear;
}
/* Ending the My Contacts Section styles */

/* Starting the Footer styles */
footer {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    to left,
    var(--main-color),
    var(--third-color)
  );
  color: #fff;
}
footer .email a {
  color: white;
  text-decoration: none;
}
footer .email a:hover {
  text-decoration: underline;
  color: var(--third-color);
}
footer .social-media i {
  margin-left: 10px;
  font-size: large;
  color: #fff;
}
footer .social-media i:hover {
  color: var(--third-color);
}
/* Ending the Footer styles */
